#splitter{height:550px;width:700px;
position:absolute;left:250px;top:2px;}
#h1{color:black;position:absolute;left:230px;top:2px;font-size: 50px;font-weight: bolder;color:midnightblue;
font-family: Algerian;}
#value{position:absolute;left:360px;top:140px;height:30px;width:200px;
border-radius: 10px;background-color:honeydew;font-size: 15px; text-align: center;}
#pa1{position:absolute;left:230px;top:130px;font-size: 20px;font-weight: bold;color: maroon;}
#people{position:absolute;left:360px;top:200px;height:30px;width:200px;
border-radius: 10px;background-color:honeydew;font-size: 15px; text-align: center;}
#pa2{position:absolute;left:230px;top:190px;font-size: 20px;font-weight: bold;color:maroon;}
#btn{position:absolute;left:230px;top:300px;height:30px;width:100px;
border-radius: 40px;background-color:steelblue;font-size: 15px; text-align: center;}
#tip{position:absolute;left:500px;top:300px;height:30px;width:200px;
border-radius: 10px;background-color:honeydew;font-size: 15px; text-align: center;}
#sp{position:absolute;left:230px;top:390px;height:40px;width:130px;
border-radius: 40px;background-color:green;font-size: 15px; text-align: center;border-style: none;color:white;font-size: 15px; }

#re{position:absolute;left:420px;top:390px;height:40px;width:130px;
border-radius: 40px;background-color:maroon;font-size: 15px; text-align: center;border-style: none;color:white;font-size:15px;}
#splitamount{position:absolute;left:350px;top:470px;font-weight: bold;color:blue;font-size: 20px;}