#di{height:500px;width:800px;
position:absolute;left:200px;top:1px;}
#pa1{color:white;font-size: 40px;position:absolute;left:120px;top:1px;font-weight: bold;
font-family: Algerian;}
#p1{position:absolute;left:250px;font-size: 23px;top:130px;font-weight: bolder;color: white;}
#a{position:absolute;left:390px;top:145px;height:30px;width:190px;background-color: honeydew;
    border-radius: 10px;color:black;font-size: 15px;text-align: center;}
#p2{position:absolute;left:250px;font-size: 23px;top:190px;font-weight: bolder;color:white;}
#b{position:absolute;left:390px;top:205px;height:30px;width:190px;background-color: honeydew;
    border-radius: 10px;color:black;font-size: 15px;text-align: center;}
#p3{position:absolute;left:250px;font-size: 23px;top:250px;font-weight: bolder;color:white;}
#c{position:absolute;left:390px;top:265px;height:30px;width:190px;background-color: honeydew;
    border-radius: 10px;color:black;font-size: 15px;text-align: center;}
#p4{position:absolute;left:250px;font-size: 23px;top:308px;font-weight: bolder;color:white;}
#d{position:absolute;left:390px;top:323px;height:30px;width:190px;background-color: honeydew;
    border-radius: 10px;color:black;font-size: 15px;text-align: center;}
#p5{position:absolute;left:250px;font-size: 23px;top:360px;font-weight: bolder;color:white;}
#e{position:absolute;left:390px;top:375px;height:30px;width:190px;background-color: honeydew;
    border-radius: 10px;color:black;font-size: 15px;text-align: center;}
#p6{position:absolute;left:250px;font-size: 23px;top:418px;font-weight: bolder;color:white;}
#f{position:absolute;left:390px;top:433px;height:30px;width:190px;background-color: honeydew;
    border-radius: 10px;color:black;font-size: 15px;text-align: center;}
#p7{position:absolute;left:250px;font-size: 23px;top:470px;font-weight: bolder;color:white;}
#btn1{position:absolute;left:390px;top:480px;height:50px;width:200px;background-color: maroon;
    border-radius: 30px;color:white;font-size: 20px;text-align: center;border-style: none;}
#p8{position:absolute;left:250px;font-size: 23px;top:540px;font-weight: bolder;color:white;}
#i7{position:absolute;left:390px;top:550px;height:50px;width:200px;background-color: yellow;
    border-radius: 30px;color:black;font-size: 20px;text-align: center;border-style: none;font-weight: bolder;}








