body{background-image: url("https://c0.wallpaperflare.com/preview/1021/163/815/technology-networking-abstract-business.jpg")}
#img1{margin-left: 400px;margin-top: 50px;}
#e{height:39px;width:200px;background-color: steelblue;color:white;
    position: absolute;top:470px;left:300px;font-weight: bold;border-style: none;border-radius: 30px;}
#f{height:39px;width:200px;background-color: mediumvioletred;color:white;
    position: absolute;top:470px;left:600px;font-weight: bold;border-style: none;border-radius: 30px;}