.a{height:60px;width:100%;}
.s2{font-size: 17px;position: absolute;top:8px;left:60px;}
.p1{position: absolute;top:10px;left:400px;border-style: none;}
.v6{position: absolute;top:10px;left:600px;border-style: none;font-size: 12px;}
.v7{position: absolute;top:10px;left:680px;border-style: none;font-size: 12px;}
.v8{position: absolute;top:10px;left:770px;border-style: none;font-size: 12px;}
.v9{position: absolute;top:10px;left:850px;border-style: none;font-size: 12px;color:red;}
.v5{position: absolute;top:10px;left:930px;border-style: none;font-size: 12px;}
.v6{position: absolute;top:10px;left:1010px;border-style: none;font-size: 12px;}
.s4{
    position: absolute;left:1090px;top:10px;}
.a1{border:1px solid red;height:120px;width:100%;background-color: maroon;color:white;}
.a2{border:1px solid grey;height:600px;width:100%;}
.h2{
    position: absolute;left:500px;top:200px;}
.a4{position: absolute;left:330px;top:290px;height:30px;width:500px;
background-color: #303f9f;color:white;}
.p2{padding-top: 0px;margin-top: 2px;}
.a3{border:1px solid grey;height:70px;width:498px;position: absolute;left:330px;top:320px}
.x1{height:30px;width:120px;border:1px solid black;position: absolute;left:327px;
top:430px;text-align: left;}
.x2{height:30px;width:110px;border:1px solid red;position: absolute;left:440px;
top:430px;text-align: left;background-color: maroon;color:white;}
.x3{height:30px;width:100px;border:1px solid red;position: absolute;left:725px;
top:430px;text-align: left;background-color: maroon;color:white;}
.x4{position: absolute;top:500px;left:310px;}
.x5{position: absolute;top:590px;left:310px;}
.x6{position: absolute;top:500px;left:490px;}
.x7{position: absolute;top:560px;left:490px;}
.x8{position: absolute;top:600px;left:490px;}
.x9{position: absolute;top:500px;left:740px;}
.x10{position: absolute;top:560px;left:740px;}
.x11{height:30px;width:160px;border:1px solid black;position: absolute;left:740px;
top:670px;text-align: left;}
.x12{height:30px;width:90px;border:1px solid red;position: absolute;left:900px;
top:670px;text-align: left;background-color: maroon;color:white;}




