body{background-image: url("https://c0.wallpaperflare.com/preview/1021/163/815/technology-networking-abstract-business.jpg")}
#d{height:50px;width:220px;position: absolute;left:470px;top:200px;background-color: greenyellow;color:black;border-radius: 10px;
font-weight: bold;font-size: 20px;border-style: none;text-align: center;}
#e{height:50px;width:220px;position: absolute;left:200px;top:350px;background-color:gold;color:black;
font-weight: bold;font-size: 20px;border-style: none;border-radius: 30px;}
#p1{font-size: 30px;font-weight: bold;color:white;position: absolute;left:270px;top:390px;}
#f{height:50px;width:220px;position: absolute;left:720px;top:350px;background-color:gold;color: black;
font-weight: bold;font-size: 20px;border-style: none;border-radius: 30px;}
#p2{font-size: 30px;font-weight: bold;color:white;position: absolute;left:800px;top:390px;}
.p3{color:white;font-size: 30px;font-weight: bold}