body{background-image: url("https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;}
.d1{height:500px;width:400px;margin-left: 400px;margin-top: 50px;background-color: #117a8b;}
h1{position: absolute;left:550px;top:40px;font-family: fantasy;}
.p1{position: absolute;left:500px;top:150px;}
.i1{height:30px;width:170px;background-color: lightgray; border:1px solid black;}
.i2{height:30px;width:170px;background-color: lightgray;border:1px solid black;}
.btn1{height:30px;width:170px;background-color: maroon;border:1px solid black;color:white;}
.i3{height:20px;width:150px;background-color: lightgray;border:1px solid black;color:blue;
    position: absolute;left:1px;}
.img1{position: absolute;left:5px;top:2px;}
.i4{height:20px;width:150px;background-color: lightgray;border:1px solid black;color:blue;}
.p2{position: absolute;left:430px;top:390px;}
.img2{position: absolute;left:180px;top:2px;}

