.a{height:400px;width:100%;
    opacity: .6;background-image: url("https://static-cse.canva.com/blob/142356/removing-background-images_Unsplash.8b2a58cb.jpeg")}
.b{position: absolute;left:400px;top:50px;}
.c{height:90px;width:400px;position: absolute;left:400px;top:270px;background-color: black;opacity: .7;}
.p{position:absolute;left:450px;top:270px;color:white;font-size: 13px;}
.b2{position:absolute;left:440px;top:370px;font-size: 12px;background-color: transparent;
border:2px solid orangered;}
.b3{position:absolute;left:530px;top:370px;font-size: 12px;background-color: transparent;
border:2px solid black;}
.b4{position:absolute;left:620px;top:370px;font-size: 12px;background-color: transparent;
border:2px solid black;}



.e{height:250px;width:300px;background-color: black;
    position: absolute;left:250px;top:500px;
    opacity: .7;}
.f{height:250px;width:300px;background-color: black;
    position: absolute;left:700px;top:500px;
    opacity: .7;}
input{width:250px;margin-top: 5px;margin-left: 12px;}
.t{
    margin-left: 12px;margin-top: 15px;}
.b1{background-color: darkorange;
    height:30px;width:250px;text-align: center;color:black;margin-left: 12px;border-style: none;}
.i{
    position: absolute;top:530px;left:730px;}
.g{background-color: #0a3e59;height:100px;width: 100%;
    position: absolute;top:770px;}
.x{position: absolute;top:50px;left:580px;background-color: darkorange;color:white;
height:30px;border-style: none;}
.y{position: absolute;top:710px;left:860px;
height:30px;}