.a{
	position: absolute;
	left: 100px;
	top:20px;
	height: 500px;
	opacity: 0.8;
	width: 1000px;
background-image: url("https://images.unsplash.com/photo-1535868463750-c78d9543614f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&w=1000&q=80");}
.p1{position: absolute;left:100px;top:10px;}
.s1{font-size: 10px;color:white;
	position: absolute;left:480px;top:18px;border:0px;
   outline:0px;
   background: transparent;
   font-weight: bold;
   opacity: .9;}
.s2{font-size: 10px;color:white;
	position: absolute;left:540px;top:18px;border:0px;
   outline:0px;
   background: transparent;
   font-weight: bold;
   opacity: .9;}
.s3{font-size: 10px;color:white;
	position: absolute;left:630px;top:18px;border:0px;
   outline:0px;
   background: transparent;
   font-weight: bold;
   opacity: .9;}
.s8{font-size: 30px;color:white;
	position: absolute;left:300px;top:170px;}
.s9{font-size: 13px;color:white;
	position: absolute;left:300px;top:230px;}
.s10{font-size: 15px;color:white;
	position: absolute;left:350px;top:380px;width:250px;background-color: whitesmoke;
border-style: none;height:35px;color:grey;text-align: left;}